<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "ISO-8859-1" />
    <title>Fake iTunes by Tanja</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Welcome to Fake iTunes by Tanja!</h1>
            <p class="lead">This is a platform where you can choose among genres, artists and songs and find a song by its name.</p>
        </div>
    </div>

    <div class="container mb-5">
        <form class="form-inline" action="#" th:action="@{search/(query='searchterm')}">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <input class="form-control" type="search" th:name="searchterm" placeholder="Search for tracks" aria-label="Search" required>
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">5 random artists of the day</h5>
                        <ul class="list-group list-group-flush" th:each="artist: ${artists}">
                            <li class="list-group-item" th:text="${artist}"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">5 random songs of the day</h5>
                        <ul class="list-group list-group-flush" th:each="song: ${songs}">
                            <li class="list-group-item" th:text="${song}"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">5 random genres of the day</h5>
                        <ul class="list-group list-group-flush" th:each="genre: ${genres}">
                            <li class="list-group-item" th:text="${genre}"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



<!-- Placed at the end of the document so the pages load faster -->
<script th:href="@{/js/bootstrap.js}"></script>
</body>

</html>