<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset = "ISO-8859-1" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link href = "css/styles.css" rel = "stylesheet"/>
    <title>Fake iTunes by Tanja</title>
</head>

<body>
<h4>Welcome to Thymeleaf Spring Boot web application</h4>
<div th:text="${artists}"></div>
<div th:text="${songs}"></div>
<div th:text="${genres}"></div>
<table>
    <thead>
    <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song: ${songList}">
        <td th:text="${song.getSongName()}"></td>
        <td th:text="${song.getArtistName()}"></td>
        <td th:text="${song.getAlbumName()}"></td>
        <td th:text="${song.getGenre()}"></td>
    </tr>
    </tbody>
</table>
<br>
<form class="form-inline" action="#" th:action="@{search/(query='searchterm')}">
    <input class="form-control" type="search" th:name="searchterm" placeholder="Search for tracks" aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
</form>

<script th:src="@{/js/bootstrap.min.js}" ></script>
</body>

</html>