<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "ISO-8859-1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Fake iTunes by Tanja - Search Results</title>
</head>
<body>
<div th:if="${songList.size() > 0}">
    <div class="container mt-5 mb-5">
        <table class="table table-bordered table-hover table-responsive-sm">
            <thead class="thead-dark">
            <tr>
                <th>Song</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Genre</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="track: ${songList}">
                <td th:text="${track.getSongName()}"></td>
                <td th:text="${track.getArtistName()}"></td>
                <td th:text="${track.getAlbumName()}"></td>
                <td th:text="${track.getGenre()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div th:if="${songList.size() == 0}">
        <h3 th:text='|Sorry, there are no results for "${query}"|'></h3>
    </div>
</div>


<div class="container mb-5">
    <a class="btn btn-info" href="/" role="button">Back</a>
</div>


<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>