<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset = "ISO-8859-1" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link href = "css/styles.css" rel = "stylesheet"/>
    <title>Fake iTunes by Tanja - Search Results</title>
</head>
<body>
<div th:if="${songList.size() > 0}">
    <table>
        <thead>
        <tr>
            <th>Song</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="track: ${songList}">
            <td th:text="${track.getSongName()}"></td>
            <td th:text="${track.getArtistName()}"></td>
            <td th:text="${track.getAlbumName()}"></td>
            <td th:text="${track.getGenre()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:else="${songList.size() == 0}">
    <p th:text='|Sorry, there are no results for "${query}"|'></p>
</div>
</body>
</html>